/* --- RESET --- */

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* --- DEBUG --- */

/* .debug header{
    background-color: #add8e6;
}
.debug .header-top .container{
    background-color: #daa520;
}
.debug .header-top .row > *{
    border: 2px dashed;
    padding: 10px 5px;
}
.debug section .row{
    height: 400px;
}
.debug section .row >*{
    border: 2px dashed;
}
.debug .header-bottom{
    background-color: #00008b;
    height: 500px;
}
.debug .header-bottom .box-pink{
    background-color: #ee82ee;
    height: 100%;
    border: 2px dashed;
}
.debug footer {
    background-color: #23272a;
}

.debug .footer-top {
    border-bottom: 2px solid #fff;
}
.debug .footer-top > .row{
    height: 400px;
    border: 2px dashed;
}
.debug .footer-top .row .col-small {
    background-color: #f08080;
}
.debug .footer-top .col-big {
    background-color: #20b2aa;
}
.debug .footer-top .col-big .col {
    border: 2px dashed white;
}
.debug .footer-bottom .container {
    background-color: #7fffd4;
    height: 50px;
}
.debug .footer-bottom .row > * {
    background-color: #ffb6c1;
    border: 2px dashed;
    padding: 0 5px;
} */

/* --- COMMON --- */

.container, .box-pink{
    margin: auto;
}
.container{
    max-width: 1200px;
}
.box-pink{
    max-width: 900px;
    text-align: center;
}
.row{
    display: flex;
}
h1, h2{
    font-size: 50px;
}
/* --- BUTTON --- */
.btn{
    padding: 5px 10px;
    border-radius: 25px;
    border-color: transparent;
}
.btn-black{
    background-color: #23272a;
    color: white;
}
.btn-blu{
    background-color: #7289da;
    color: white;
}

.container > .btn-blu{
    padding: 10px 15px;
    font-size: large;
}
/* --- HEADER --- */

header{
    color: white;
}
.header-top {
    background-color: #255ee9;
    padding: 16px 0;
}
.header-top .row{
    align-items: center;
}
.logo, .login{
    width: 20%;
    padding: 0 5px;
}
.main-nav{
    width: 60%;
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li{
    margin: 0 10px;
}
.main-nav ul li a{
    text-decoration: none;
    color: inherit;
}
.login{
    text-align: right;
}
.header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 130px;
}


/* --- MAIN --- */

section{
    padding: 40px 0px;
}
section:nth-child(2n){
    background-color: #d3d3d3;
}
.col-big{
    width: 70%;
}

.col-small{
    width: 30%;
    text-align: left;
}
section:last-child .container {
    height: auto;
    text-align: center;
}

/* --- FOOTER --- */

.footer-top{
    padding: 10px 0 30px 0;
}
.footer-top .col-small{
    width: 30%;
}
.footer-top .col-big .col{
    width: 25%;
}
.footer-bottom{
    padding-top: 30px;
}
.footer-bottom .row{
    justify-content: space-between;
    align-items: center;
}